*{
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}


section{
    width: 18rem;
    height: 20rem;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    background-color: black;

    border: 2px solid black;
    border-radius: 8px;
}

.screen {
    width: 99%;
    height: 3rem;
    padding: 0.5%;
    padding-right: 0%;
    font-family: 'Saira', sans-serif;
    background-color: white;
    border: 1px solid black;
    font-size: larger;
    border-radius: 8px;
    overflow: hidden;
}

table{
    background-color: grey;
    width: 100%;
    height: 17rem;
    margin-top: 10%;
    border-radius: 8px;
}

button{
    width: 100%;
    height: 3rem;
    font-family: 'Saira', sans-serif;
    color: white;
    background-color: black;
    border-radius: 8px;
    font-size: medium;
}

.zeros-btn{
    padding: 0%;
    width: 100%;
}
.b-btn{
    background-image: url("./assets/backspace.png");
    background-size: cover;
}


@media screen and (max-width: 580px) {
    body{
        padding: 0%;
        overflow: hidden;
    }

    section{
        width: 100%;
        margin-top: 0px;
        height: 100vh;
        overflow: hidden;
    }  

    .screen{
        margin-top: 10vh;
        width: 100%;
        height: 10vh;
        font-size: 3rem;
    }

    table{
        width: 100%;
        height: 60vh;
    }

    button{
        font-size: 2rem;
        height: 100%;
    }

    .zeros-btn{
        width: 100%;
    }

    .b-btn{
        background-size: 100%;
        background-repeat: no-repeat;
    }

    
}